Welcome to the yfinance playground

Here I am determined to experiment with common functions and features of the yfninance python api, with aim to understand stock data manipulation and hopefully be able to outline the requirements and components necessary for a program to identify stocks that meet a specific performance criteria.

In [1]:
import yfinance as yf
import pandas as pd

In [2]:
watchlist = pd.read_csv('quotes.csv')
watchlist

,Symbol,Current Price,Date,Time,Change,Open,High,Low,Volume,Trade Date,Purchase Price,Quantity,Commission,High Limit,Low Limit,Comment
0,FTFT,1.19,2023/03/24,15:59 EDT,0.000000,1.180,1.1900,1.1600,36774,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LLY,336.13,2023/03/24,16:03 EDT,3.489990,332.990,336.9300,328.7700,2792171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EDU,37.51,2023/03/24,16:00 EDT,-1.290001,38.700,38.9000,37.3000,1168996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WM,154.46,2023/03/24,16:00 EDT,3.760010,151.150,154.8300,150.6000,2018645,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MSFT,280.57,2023/03/24,16:00 EDT,2.910004,277.240,280.6300,275.3000,28199962,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CSCO,50.51,2023/03/24,16:00 EDT,0.779999,49.900,50.5500,49.5000,19439419,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,JBLU,6.70,2023/03/24,16:00 EDT,0.070000,6.550,6.7275,6.4550,9158118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,META,206.01,2023/03/24,16:00 EDT,1.729996,205.180,207.5740,203.5500,27733042,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,HOOD,8.68,2023/03/24,16:00 EDT,0.110001,8.500,8.7350,8.3750,5012974,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,TRI,127.12,2023/03/24,16:00 EDT,0.680000,126.180,127.2200,125.3000,298723,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,IIPR,75.77,2023/03/24,16:00 EDT,1.639999,73.410,76.0800,73.2621,279321,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ASO,64.95,2023/03/24,16:00 EDT,0.979996,63.450,65.0800,62.5700,1113536,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,LCID,8.19,2023/03/24,16:00 EDT,0.000000,8.020,8.3050,7.9900,8245412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,SPPI,0.67,2023/03/24,16:00 EDT,-0.042600,0.688,0.6949,0.6519,1784037,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,COIN,67.83,2023/03/24,16:00 EDT,1.529999,64.180,68.7300,63.5300,21641914,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,CHPT,9.83,2023/03/24,16:00 EDT,-0.230000,9.950,10.0861,9.6800,5189509,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NVDA,267.79,2023/03/24,16:00 EDT,-4.119995,270.310,271.6700,263.5500,45541407,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,GME,23.98,2023/03/24,16:00 EDT,1.400000,22.320,23.9900,22.1000,8768674,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ORIC,5.26,2023/03/24,16:00 EDT,0.060000,5.210,5.3422,4.9850,184800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,APLE,14.06,2023/03/24,16:00 EDT,0.210000,13.690,14.1300,13.6600,2626366,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,VT,88.90,2023/03/24,16:00 EDT,0.220001,88.230,88.9400,87.7250,2086598,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,TSLA,190.41,2023/03/24,16:00 EDT,-1.809998,191.650,192.3600,187.1500,116531584,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,KO,60.90,2023/03/24,16:00 EDT,0.980003,60.250,61.0150,59.9100,12977607,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,RITM,7.71,2023/03/24,16:00 EDT,0.130000,7.560,7.7282,7.4000,5800807,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,SPHD,40.40,2023/03/24,16:00 EDT,0.730003,39.530,40.4000,39.4700,1212092,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,AGNC,9.79,2023/03/24,16:00 EDT,0.160000,9.550,9.8100,9.4000,12044431,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AAPL,160.25,2023/03/24,16:00 EDT,1.320007,158.860,160.3400,157.8500,59256343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,BP,35.88,2023/03/24,16:00 EDT,-0.599998,35.630,36.0200,35.1700,11143008,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
watchlist_tickers = watchlist['Symbol']
watchlist_tickers

0     FTFT
1      LLY
2      EDU
3       WM
4     MSFT
5     CSCO
6     JBLU
7     META
8     HOOD
9      TRI
10    IIPR
11     ASO
12    LCID
13    SPPI
14    COIN
15    CHPT
16    NVDA
17     GME
18    ORIC
19    APLE
20      VT
21    TSLA
22      KO
23    RITM
24    SPHD
25    AGNC
26    AAPL
27      BP
Name: Symbol, dtype: object

In [4]:
watchlist_tickers[0]

'FTFT'

i'll first take a ticker and examine what sort of information we can pull from the yf.Ticker.info method

In [5]:
# get all the stock info (slow)

tick = yf.Ticker(watchlist_tickers[0])
tick.info

{'symbol': 'FTFT',
 'twoHundredDayAverageChangePercent': 0.7799716,
 'fiftyTwoWeekLowChangePercent': 2.6060605,
 'language': 'en-US',
 'regularMarketDayRange': '1.16 - 1.19',
 'earningsTimestampEnd': 1681761600,
 'regularMarketDayHigh': 1.19,
 'twoHundredDayAverageChange': 0.52145004,
 'twoHundredDayAverage': 0.66855,
 'askSize': 11,
 'bookValue': 4.919,
 'marketCap': 17401132,
 'fiftyTwoWeekHighChange': -1.0,
 'fiftyTwoWeekRange': '0.33 - 2.19',
 'fiftyDayAverageChange': -0.16299999,
 'averageDailyVolume3Month': 192098,
 'exchangeDataDelayedBy': 0,
 'firstTradeDateMilliseconds': 1213191000000,
 'trailingAnnualDividendRate': 0.0,
 'fiftyTwoWeekLow': 0.33,
 'market': 'us_market',
 'regularMarketVolume': 36774,
 'quoteSourceName': 'Nasdaq Real Time Price',
 'messageBoardId': 'finmb_41839861',
 'priceHint': 4,
 'regularMarketDayLow': 1.16,
 'sourceInterval': 15,
 'exchange': 'NCM',
 'shortName': 'Future FinTech Group Inc.',
 'region': 'US',
 'fiftyDayAverageChangePercent': -0.12047301,
 'fullExchangeName': 'NasdaqCM',
 'earningsTimestampStart': 1681416000,
 'financialCurrency': 'USD',
 'displayName': 'Future FinTech',
 'gmtOffSetMilliseconds': -14400000,
 'regularMarketOpen': 1.18,
 'regularMarketTime': '3:59PM EDT',
 'regularMarketChangePercent': 0.0,
 'quoteType': 'EQUITY',
 'trailingAnnualDividendYield': 0.0,
 'averageDailyVolume10Day': 48570,
 'fiftyTwoWeekLowChange': 0.86,
 'fiftyTwoWeekHighChangePercent': -0.456621,
 'typeDisp': 'Equity',
 'tradeable': False,
 'currency': 'USD',
 'sharesOutstanding': 14622800,
 'regularMarketPreviousClose': 1.19,
 'fiftyTwoWeekHigh': 2.19,
 'exchangeTimezoneName': 'America/New_York',
 'bidSize': 8,
 'regularMarketChange': 0.0,
 'cryptoTradeable': False,
 'fiftyDayAverage': 1.353,
 'exchangeTimezoneShortName': 'EDT',
 'marketState': 'PRE',
 'customPriceAlertConfidence': 'HIGH',
 'regularMarketPrice': 1.19,
 'earningsTimestamp': 1669064400,
 'ask': 1.28,
 'epsTrailingTwelveMonths': -0.75,
 'bid': 0.0,
 'triggerable': True,
 'priceToBook': 0.2419191,
 'longName': 'Future FinTech Group Inc.',
 'trailingPegRatio': None}

In [6]:
# get more concise info (fast)

tick.fast_info

lazy-loading dict with keys = ['currency', 'dayHigh', 'dayLow', 'exchange', 'fiftyDayAverage', 'lastPrice', 'lastVolume', 'marketCap', 'open', 'previousClose', 'quoteType', 'regularMarketPreviousClose', 'shares', 'tenDayAverageVolume', 'threeMonthAverageVolume', 'timezone', 'twoHundredDayAverage', 'yearChange', 'yearHigh', 'yearLow']

Next, we (might want to) show a histogram table of a particular stock, with information like open, close, high, low, volume, dividends, and stock splits.

In [7]:
hist = tick.history(period='1mo')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-27 00:00:00-05:00,1.72,1.80,1.72,1.73,20700,0.0,0.0
2023-02-28 00:00:00-05:00,1.77,1.78,1.74,1.77,13900,0.0,0.0
2023-03-01 00:00:00-05:00,1.80,1.80,1.77,1.79,55400,0.0,0.0
2023-03-02 00:00:00-05:00,1.76,1.76,1.72,1.74,14900,0.0,0.0
2023-03-03 00:00:00-05:00,1.75,1.75,1.66,1.73,77300,0.0,0.0
2023-03-06 00:00:00-05:00,1.71,1.78,1.70,1.71,15300,0.0,0.0
2023-03-07 00:00:00-05:00,1.71,1.78,1.65,1.67,24000,0.0,0.0
2023-03-08 00:00:00-05:00,1.72,1.72,1.52,1.54,39600,0.0,0.0
2023-03-09 00:00:00-05:00,1.51,1.51,1.35,1.38,59100,0.0,0.0
2023-03-10 00:00:00-05:00,1.37,1.41,1.21,1.25,64200,0.0,0.0
2023-03-13 00:00:00-04:00,1.22,1.38,1.22,1.31,140100,0.0,0.0
2023-03-14 00:00:00-04:00,1.31,1.38,1.22,1.25,48100,0.0,0.0
2023-03-15 00:00:00-04:00,1.30,1.31,1.22,1.22,24900,0.0,0.0
2023-03-16 00:00:00-04:00,1.22,1.26,1.20,1.21,14900,0.0,0.0
2023-03-17 00:00:00-04:00,1.17,1.25,1.17,1.22,41300,0.0,0.0
2023-03-20 00:00:00-04:00,1.20,1.35,1.17,1.19,58100,0.0,0.0
2023-03-21 00:00:00-04:00,1.22,1.26,1.20,1.24,42100,0.0,0.0
2023-03-22 00:00:00-04:00,1.24,1.32,1.18,1.21,40100,0.0,0.0
2023-03-23 00:00:00-04:00,1.25,1.25,1.18,1.18,39400,0.0,0.0
2023-03-24 00:00:00-04:00,1.18,1.19,1.16,1.19,36700,0.0,0.0

Here, we can get an idea for who is holding and how much are they holding a particular stock.

In [8]:
tick.major_holders

        0                                      1
0  24.24%        % of Shares Held by All Insider
1   0.44%       % of Shares Held by Institutions
2   0.59%        % of Float Held by Institutions
3      18  Number of Institutions Holding Shares

In [9]:
tick.institutional_holders

                                 Holder  Shares Date Reported   % Out  Value
0                Lindbrook Capital, Llc   20513    2022-12-30  0.0003  24410
1                          UBS Group AG    6305    2022-12-30  0.0001   7502
2               Group One Trading, L.P.    6412    2022-12-30  0.0001   7630
3         Geode Capital Management, LLC    9289    2022-12-30  0.0001  11053
4          Independent Advisor Alliance    3445    2022-12-30  0.0000   4099
5  Susquehanna International Group, LLP    3642    2022-12-30  0.0000   4333
6                        Morgan Stanley    3160    2022-12-30  0.0000   3760
7                Jane Street Group, LLC    2813    2022-12-30  0.0000   3347
8         Kestra Advisory Services, LLC    2600    2022-12-30  0.0000   3094
9             Two Sigma Securities, LLC    2099    2022-12-30  0.0000   2497

In [10]:
tick.mutualfund_holders

                                 Holder  Shares Date Reported   % Out  Value
0  Fidelity NASDAQ Composite Index Fund    9289    2022-11-29  0.0001  11053

Get a look at the expirations for options of a particular stock:

In [11]:
tick.options

('2023-04-21', '2023-05-19', '2023-08-18', '2023-11-17', '2024-01-19')

Quick news:

In [12]:
tick.news

[{'uuid': 'f7c03ad0-5ea5-362e-93fe-4b2dcd3b3639',
  'title': 'FTFT Announces Acquisition Agreement of Alpha International Securities (Hong Kong) Ltd.',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/ftft-announces-acquisition-agreement-alpha-140000813.html',
  'providerPublishTime': 1677679200,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/HE0LB1nmmxErTaJl956a9g--~B/aD0xNzI7dz0xNzY7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/5a1a3f1d27e0aaa950c130e87b31b3c8',
     'width': 176,
     'height': 172,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/Zpc7yQT8G2LE91Px0wkQ5w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/5a1a3f1d27e0aaa950c130e87b31b3c8',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['FTFT']},
 {'uuid': '173042dc-4b9d-3e72-935a-bfba4f92c163',
  'title': 'Future FinTech Announces Paraguayan Cryptocurrency Mining Farm is Operational',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/future-fintech-announces-paraguayan-cryptocurrency-133000858.html',
  'providerPublishTime': 1673962200,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/oy4J4A7bnn6FR91jqloz9g--~B/aD0xNTk7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/f15ced253ec10e935a76a90a3718f488',
     'width': 400,
     'height': 159,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/fiwU3_qCgAiJZXg0kSpz4w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/f15ced253ec10e935a76a90a3718f488',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['FTFT']}]

In [13]:
tick.news[0]

{'uuid': 'f7c03ad0-5ea5-362e-93fe-4b2dcd3b3639',
 'title': 'FTFT Announces Acquisition Agreement of Alpha International Securities (Hong Kong) Ltd.',
 'publisher': 'PR Newswire',
 'link': 'https://finance.yahoo.com/news/ftft-announces-acquisition-agreement-alpha-140000813.html',
 'providerPublishTime': 1677679200,
 'type': 'STORY',
 'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/HE0LB1nmmxErTaJl956a9g--~B/aD0xNzI7dz0xNzY7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/5a1a3f1d27e0aaa950c130e87b31b3c8',
    'width': 176,
    'height': 172,
    'tag': 'original'},
   {'url': 'https://s.yimg.com/uu/api/res/1.2/Zpc7yQT8G2LE91Px0wkQ5w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/5a1a3f1d27e0aaa950c130e87b31b3c8',
    'width': 140,
    'height': 140,
    'tag': '140x140'}]},
 'relatedTickers': ['FTFT']}

In [14]:
for article in range(len(tick.news)):
    if 'title' in tick.news[article]:
        print(tick.news[article]['title'])
    if 'link' in tick.news[article]:
        print(tick.news[article]['link'])
    print('\n')

FTFT Announces Acquisition Agreement of Alpha International Securities (Hong Kong) Ltd.
https://finance.yahoo.com/news/ftft-announces-acquisition-agreement-alpha-140000813.html


Future FinTech Announces Paraguayan Cryptocurrency Mining Farm is Operational
https://finance.yahoo.com/news/future-fintech-announces-paraguayan-cryptocurrency-133000858.html

let's take a quick moment to add chatgpt to this bih, get some artificial opinions on these news articles up in here..

In [15]:
# create dataframe structured with article title, url, and chatgpt analysis

news_and_sentiment = {
    'Title': [],
    'URL': [],
    'AI Analysis': []
}

for article in range(len(tick.news)):
    if 'title' in tick.news[article]:
        news_and_sentiment['Title'].append(tick.news[article]['title'])
    if 'link' in tick.news[article]:
        news_and_sentiment['URL'].append(tick.news[article]['link'])

news_and_sentiment
#pd.DataFrame(news_and_sentiment)

{'Title': ['FTFT Announces Acquisition Agreement of Alpha International Securities (Hong Kong) Ltd.',
  'Future FinTech Announces Paraguayan Cryptocurrency Mining Farm is Operational'],
 'URL': ['https://finance.yahoo.com/news/ftft-announces-acquisition-agreement-alpha-140000813.html',
  'https://finance.yahoo.com/news/future-fintech-announces-paraguayan-cryptocurrency-133000858.html'],
 'AI Analysis': []}

In [16]:
import openai
import os

In [19]:
# set your OpenAI API key
openai.api_key = os.environ['OPENAI_API_KEY']

for link in news_and_sentiment['URL']:

    # set the prompt you want to send to GPT-3
    prompt = "as an expert on stock news analysis and its impact on price movements, what are the key takeaways and main sentiments regarding the underlying asset from this article: " + link

    # set the parameters for the API request
    model_engine = "text-davinci-002" # this is the ID of the GPT-3 model you want to use
    parameters = {
        "prompt": prompt,
        "temperature": 0.5, # this controls the randomness of the generated response
        "max_tokens": 100, # this sets the maximum length of the generated response
        "n": 1, # this sets the number of responses to generate
        "stop": "\n" # this sets the stop sequence for the generated response
    }

    # make the API call to generate a response
    response = openai.Completion.create(engine=model_engine, prompt=prompt, max_tokens=100)

    # extract the generated response text from the API response
    generated_text = response.choices[0].text.strip()

    # print the generated response text
    print(generated_text)
    # add generated response to dictionary
    #news_and_sentiment['URL'].append(generated_text)

RateLimitError: You exceeded your current quota, please check your plan and billing details.